{% extends 'base.html' %}

{% block content %}
	
	<h2>VERSION 1.0.0</h2>
 	<hr>
 	<h2>CONTACT US</h2>
	<p class="td">For any queries regarding this website contact us on following:</p>
	<p class="td">Our Linkedin ID:<br><a href="https://www.linkedin.com/in/pratiksha-gupta-264a8324a" target="_blank">Visit Pratiksha's linkedin profile!</a></br>
							      <br><a href="https://www.linkedin.com/in/ritik-yadav-757794228" target="_blank">Visit Ritik's linkedin profile !</a></br>
							      <br><a href="https://www.linkedin.com/in/prerna-bhatia-907120229" target="_blank">Visit Prerna's linkedin profile!</a></br>
	</p>
 	<hr>
	<p class="td">Thank you, For visiting our website</p>

{% endblock %}